.about {
  padding: 45px;
  color: $base-white;
  background-color: $primary-blue;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  border-radius: 0 0 15px 15px;
}
