.about {
  position: relative;
  z-index: 9;
  color: $base-white;
  background-color: $secondary-blue;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 40px;
  border-radius: 0 0 30px 30px;
}

.about__wrapper {
  @include container;
  padding: 71px $extra-offset 79px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  margin-bottom: 20px;
}

.about__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    background-image: none;
    margin-top: -50px;
    padding-top: 0;
  }

  .about__wrapper {
    padding-top: 100px;
    background: url("../img/about-tablet@1x.png") no-repeat 420px 285px,
      url("../img/about-bg-blue.png") no-repeat 40px 240px;
  }

  .about__text-wrapper {
    width: 300px;
    padding-left: 35px;
  }

  .about__title {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }

  .about__description {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }

  .about__slogan {
    margin-bottom: 50px;
  }

  .about__link {
    display: inline-block;
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-top: -20px;
    background-image: none;
  }

  .about__wrapper {
    position: relative;
    padding: 90px 130px 60px;
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right top 70px;

    &::before {
      width: 213px;
      height: 213px;

      content: "";
      position: absolute;
      top: 70px;
      left: 60px;

      background-color: $blue3;
      border-radius: 20px;
      z-index: 0;
    }
  }

  .about__text-wrapper {
    padding: 0;
    width: 615px;
  }
}
