.add-profile {
  position: relative;
  margin-top: -30px;
  color: $primary-grey;
  background-color: $light;
  z-index: 4;
  border-radius: 0 0 30px 30px;
}

.add-profile__wrapper {
  @include container;
  padding: 82px 25px 35px 50px;
}

.add-profile__title {
  margin-bottom: 43px;

  span {
    display: block;
  }
}

.add-profile__list {
  @include list-reset;
  position: relative;
  counter-reset: section;
  list-style-type: none;
  margin-bottom: 27px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -132px;
    right: 0;
    width: 99px;
    height: 99px;
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 99px;
  }
}

.add-profile__item {
  position: relative;
  border-top: 1px solid $light-grey-2;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-right: 45px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    top: 4px;
    right: -44px;
    align-self: start;
    background-color: $light-orange;
    counter-increment: section;
    content: counters(section, ".") " ";
    color: $base-white;
    padding: 6px 13px 4px;
    border-radius: 50%;
  }
}

.add-profile__item:nth-child(2)::after {
  background-color: $gold;
}

.add-profile__item:nth-child(3)::after {
  background-color: $light-gold;
}

.add-profile__item:last-child {
  border-bottom: 1px solid $light-grey-2;
}

.add-profile__value {
  display: block;
}

.add-profile__show-prices {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $secondary-blue;

  svg {
    display: none;
  }
}

.add-profile__popup {
  display: none;
  width: 220px;
  padding: 30px 25px 0;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 15;
  background-color: $base-white;
  border-radius: 15px;
}

@media (min-width: $tablet-width) {
  .add-profile__wrapper {
    position: relative;
    padding-top: 95px;
    padding-bottom: 85px;
    background-position: bottom 45px right 85px;
  }

  .add-profile__title {
    margin-bottom: 75px;
    text-align: center;
  }

  .add-profile__list {
    position: relative;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin-bottom: 35px;

    &::before {
      content: "";
      position: absolute;
      top: -45px;
      right: 35px;
      width: 198px;
      height: 285px;
      background-color: $secondary-grey;
      border-radius: 20px;
    }

    &::after {
      top: 210px;
      right: 85px;
    }
  }

  .add-profile__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    z-index: 1;
    position: relative;
    padding-right: 35px;

    &::after {
      counter-increment: none;
      content: none;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -89px;
      background-color: $light-orange;
      counter-increment: section;
      content: counters(section, ".") " ";
      color: $base-white;
      padding: 15px 25px;
      border-radius: 50%;
    }
  }

  .add-profile__item:nth-child(2)::before {
    background-color: $gold;
  }

  .add-profile__item:nth-child(3)::before {
    background-color: $light-gold;
  }

  .add-profile__show-prices {
    display: flex;
    align-items: center;

    svg {
      display: inherit;
      padding: 25px;
      background-color: $secondary-grey;
      border-radius: 50%;
      margin-right: 23px;
    }
  }

  .add-profile__link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: left;
    color: $blue4;
  }
}

@media (min-width: $desktop-width) {
  .add-profile__wrapper {
    padding: 80px 130px;
    background-position: bottom 145px right 165px;
    background-size: 200px;
  }
}
