.add-profile {
  position: relative;
  color: $primary-grey;
  background-color: $light;
  border-radius: 0 0 15px 15px;
  z-index: 4;
}

.add-profile__popup {
  display: none;
}

.add-profile__list {
  @include list-reset;
}
