.address {
  position: relative;
  z-index: 2;
  margin-top: -70px;
  font-weight: 700;
  color: $secondary-blue;
  background-color: $light-gold;
  border-radius: 0 0 20px 20px;
}

.address__wrapper {
  @include container;
  padding: 100px 25px 35px;
}

.address__list {
  margin-bottom: 32px;
}

.address__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .address {
    margin-top: -50px;
    border-radius: 0 0 60px 60px;
  }

  .address__wrapper {
    padding: 98px 75px 80px;
    text-align: center;
  }

  .address__list {
    margin-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .address__wrapper {
    padding: 82px 130px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .address__list {
    margin-top: 20px;
    margin-right: 150px;
  }

  .address__button {
    margin-top: -19px;
    width: 325px;
  }
}
