.business-price__title {
  margin-bottom: 30px;
  text-align: center;
}

.business-price__list {
  @include list-reset;
  margin-bottom: 30px;
}

.business-price__item {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid $light-grey-2;
}

.business-price__item:last-child {
  border-bottom: 1px solid $light-grey-2;
}

.business-price__value {
  display: block;
}

.business-price_button {
  width: 270px;
  margin: 0 -25px;
  padding: 23px 0;
  border: none;
  background-color: $grey2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
