.content-text {
  @include margin-padding-reset;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $base-white;
  text-align: left;

  &--bold {
    font-weight: 700;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .content-text {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
      font-weight: 700;
    }
  }
}

@media (min-width: $desktop-width) {
  .content-text {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
      font-weight: 700;
    }
  }
}
