.content-text {
  @include margin-padding-reset;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $base-white;
  text-align: left;

  &--bold {
    font-weight: 700;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  font-size: 28px;
  line-height: 33px;
}

@media (min-width: $desktop-width) {
  font-size: 28px;
  line-height: 33px;
}
