.contact-list {
  @include list-reset;
  text-align: left;
}

.contact-list__phone {
  display: flex;
  align-items: center;
}

.contact-list__phone:hover .contact-list__icon,
.contact-list__phone:focus .contact-list__icon,
.contact-list__email:hover .contact-list__icon,
.contact-list__email:focus .contact-list__icon {
  fill: $gold;
}

.contact-list__phone:active .contact-list__icon,
.contact-list__email:active .contact-list__icon {
  fill: $iconhover;
}

.contact-list__email {
  display: flex;
  align-items: center;
}

.contact-list__icon {
  width: 18px;
  height: 18px;
  padding: 14px;
  margin-right: 15px;
  background-color: $blue2;
  fill: $light-gold;
  border-radius: 50%;
}

.contact-list__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $secondary-blue;
  text-transform: uppercase;

  &--yellow {
    color: $light-gold;
  }
}

.contact-list__phone:hover .contact-list__text,
.contact-list__phone:focus .contact-list__text,
.contact-list__email:hover .contact-list__text,
.contact-list__email:focus .contact-list__text {
  color: $blue2;
}

.contact-list__phone:hover .contact-list__text--yellow,
.contact-list__phone:focus .contact-list__text--yellow,
.contact-list__email:hover .contact-list__text--yellow,
.contact-list__email:focus .contact-list__text--yellow {
  color: $gold;
}

.contact-list__phone:active .contact-list__text,
.contact-list__email:active .contact-list__text {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .contact-list__icon {
    width: 27px;
    height: 27px;
    padding: 20px;
    margin-right: 23px;

    svg {
      width: 27px;
      height: 27px;
    }
  }

  .contact-list__text {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .contact-list__icon {
    width: 36px;
    height: 36px;
    padding: 28px;
    margin-right: 40px;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  .contact-list__text {
    font-size: 28px;
    line-height: 28px;
  }
}
