.copyright {
  color: $primary-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 25px;
  }
}
