.country-select {
  position: relative;
  display: flex;
  padding-bottom: 22px;
  background-image: url("../img/small-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 23.6%  bottom 10px;
  background-size: 5px;
}

.country-select__select {
  position: relative;
  z-index: 0;
  width: 76.4%;
  appearance: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: $blue;
  padding: 11px 12px;
  border: 1px solid $grey3;
  box-sizing: border-box;
  border-radius: 5px;

  &--together {
    border-top: 1px solid $grey3;
    border-right: none;
    border-bottom: 1px solid $grey3;
    border-left: 1px solid $grey3;
    border-radius: 5px 0 0 5px;
  }
}

.country-select__delete {
  width: 21px;
  height: 21px;
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  border-radius: 50%;
  fill: rgba($blue, 0.3);
  background-color: $light;
  z-index: 2;
}

.country-select__icon {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.6%;
  border: 1px solid $grey3;
  margin-left: -1px;
  border-radius: 5px;

  &--together {
    border-top: 1px solid $grey3;
    border-right: 1px solid $grey3;
    border-bottom: 1px solid $grey3;
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
}

.country-select__check-box + .country-select__dot {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 1px solid $grey3;
  border-radius: 50%;
  z-index: 2;
  background-color: $base-white;
}

.country-select__check-box + .country-select__dot:hover,
.country-select__check-box + .country-select__dot:focus {
  background-color: rgba($blue, 0.3);
}

.country-select__check-box:checked + .country-select__dot {
  background-color: $blue;
}

.country-select__dropdown-icon {
  fill: rgba($blue, 0.3);
  margin-left: 12px;
}
