.create-plan {
  padding: 25px;
  color: $blue;
  background-color: $light-grey;
}

.create-plan__checkbox {
  font-family: inherit;
}

.create-plan__country {
  font-family: inherit;
}

.create-plan__choose-country {
  font-family: inherit;
}

.create-plan__add-country {
  font-family: inherit;
}

.create-plan__next-step {
  font-family: inherit;
}

.create-plan__prev-step {
  font-family: inherit;
}

.create-plan__textarea {
  font-family: inherit;
}
