.create-plan {
  color: $blue;
  background-color: $light-grey;
}

.create-plan__wrapper {
  padding: 30px 25px 15px;
}

.create-plan__list {
  @include list-reset;
}

.create-plan__item {
  background-color: $base-white;
  margin-bottom: 10px;
}

.create-plan__checkbox {
  font-family: inherit;
}

.create-plan__country {
  font-family: inherit;
}

.create-plan__choose-country {
  font-family: inherit;
}

.create-plan__add-country {
  font-family: inherit;
}

.create-plan__next-step {
  font-family: inherit;
}

.create-plan__prev-step {
  font-family: inherit;
}

.create-plan__textarea {
  font-family: inherit;
}

@media (min-width: $tablet-width) {
  .create-plan__wrapper {
    margin: 0 auto;
    padding: 60px 75px 50px;
  }

  .create-plan__item {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .create-plan__wrapper {
    width: $container-width;
    margin: 0 auto;
  }

  .create-plan__item {
    margin-bottom: 45px;
  }
}
