.direction {
  position: relative;
  margin-top: -20px;
  color: $primary-grey;
  background-color: $light;
  border-radius: 0 0 30px 30px;
  z-index: 8;
}

.direction__wrapper {
  @include container;
  position: relative;
  padding: 95px 25px 110px;
}

.direction__text-wrapper {
  padding: 0 25px;
  margin-bottom: 58px;
}

.direction__title {
  margin-bottom: 20px;
}

.direction__link {
  position: absolute;
  bottom: 30px;
  left: 25px;
  display: block;
  width: 84%;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .direction {
    margin-top: -40px;
    border-radius: 0 0 60px 60px;
  }

  .direction__wrapper {
    padding: 114px 75px 198px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 40px top 120px;

    &::before {
      width: 141px;
      height: 141px;

      content: "";
      position: absolute;
      top: 448px;
      left: 40px;

      background-color: $secondary-grey;
      border-radius: 20px;
    }
  }

  .direction__text-wrapper {
    width: 340px;
    padding: 0;
    margin-bottom: 106px;
  }

  .direction__title {
    margin-bottom: 57px;
  }

  .direction__description {
    color: $primary-grey;
  }

  .direction__link {
    width: 80.5%;
    left: 75px;
    bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .direction__wrapper {
    padding: 202px 130px 138px;
    display: flex;
    justify-content: start;
    background-position: right 59px top 127px;

    &::before {
      top: 130px;
      left: 60px;
    }
  }

  .direction__text-wrapper {
    margin-left: 174px;
    margin-bottom: 0;
    order: 1;
  }

  .direction__description {
    margin-bottom: 100px;
    color: $primary-grey;
  }

  .direction__link {
    position: relative;
    top: 0;
    left: 0;
    width: 275px;
  }

  .direction__list {
    order: 0;
    width: 560px;
  }

  .direction__title {
    margin-top: 5px;
  }
}
