.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid $orange;
  color: $base-white;
  text-align: center;
  box-sizing: border-box;

  &--w100 {
    width: 99px;
    height: 99px;
  }
}

.level__count {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 31px;
    height: 1px;
    background-color: $base-white;
    opacity: 0.3;
  }

  &--w100 {
    font-size: 38px;
    line-height: 38px;
    color: $primary-blue;
  }
}

.level__count--w100::after {
  width: 49px;
  height: 2px;
  background-color: $base-black;
  opacity: 0.1;
  left: -3px;
}

.level__text {
  margin-top: 2px;
  font-size: 14px;
  line-height: 14px;

  &--w100 {
    font-size: 18px;
    line-height: 22px;
    color: $primary-grey;
  }
}
