.main-nav {
  position: relative;

  &--closed {
    background-color: $primary-blue;
  }

  &--opened {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: $base-white;
  }

  &--nojs {
    background-color: $base-white;
  }
}

.main-nav .user-list__item {
  display: none;
}

.main-nav--closed .main-nav__site-list,
.main-nav--closed .main-nav__user-list,
.main-nav--closed .main-nav__contact,
.main-nav--closed .main-nav__social {
  display: none;
}

.main-nav--opened .main-nav__site-list,
.main-nav--opened .main-nav__user-list,
.main-nav--opened .main-nav__contact,
.main-nav--opened .main-nav__social {
  display: block;
}

.main-nav--nojs .main-nav__site-list,
.main-nav--nojs .main-nav__user-list,
.main-nav--nojs .main-nav__contact,
.main-nav--nojs .main-nav__social {
  display: block;
}

.main-nav__site-list {
  margin-top: 43px;
  margin-bottom: 54px;
}

.main-nav__user-list {
  margin-bottom: 40px;
}

.main-nav__contact {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-nav .main-nav__user-list {
    display: block;
  }

  .main-nav--opened .user-list__item--active {
    top: -40px;
    right: 40px;
  }

  .main-nav .user-list__item--active {
    display: block;
  }

  .main-nav__site-list {
    margin-bottom: 150px;
  }

  .main-nav__contact {
    margin-left: 60px;
    margin-bottom: 130px;
  }

  .main-nav__social {
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 73.8%;
    padding: 0;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-blue;
  }

  .main-nav .main-nav__site-list {
    margin: 0;
    display: inherit;
  }

  .main-nav .main-nav__user-list {
    position: static;
    display: inherit;
    margin: 0;
  }

  .main-nav .user-list__item {
    display: inherit;
  }

  .main-nav .main-nav__contact {
    display: none;
  }

  .main-nav .main-nav__social {
    display: none;
  }
}
