.main-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  width: 84%;
  padding: 30px 25px 40px;
  color: $secondary-blue;
  background-color: $base-white;

  &--closed {
    display: none;
  }
}

.main-nav--nojs {
  display: block;
}

.main-nav__site-list {
  margin-bottom: 60px;
}

.main-nav__user-list {
  margin-bottom: 40px;
}

.main-nav__contact {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 89.5%;
    padding: 20px 40px 90px;
    top: 100%;

    &--closed {
      display: block;
      background-color: transparent;
    }
  }

  .main-nav__site-list {
    margin-left: 60px;
    margin-bottom: 150px;
    display: none;

    &--open {
      display: inherit;
    }
  }

  .main-nav__user-list {
    position: absolute;
    top: -122px;
    right: 40px;
  }

  .main-nav__contact {
    margin-left: 60px;
    margin-bottom: 130px;
    display: none;

    &--open {
      display: block;
    }
  }

  .main-nav__social {
    display: none;
    margin-left: 60px;

    &--open {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 74%;
    padding: 0;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-blue;
  }

  .main-nav__site-list {
    margin: 0;
    display: inherit;
  }

  .main-nav__user-list {
    position: static;
    margin: 0;
  }

  .main-nav__contact {
    display: none;
  }

  .main-nav__social {
    display: none;
  }
}
