.page-header {
  color: $base-white;
}

.page-header__wrapper {
  @include container;
  background-color: $primary-blue;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;

  &--opened {
    background-color: $base-white;
    min-height: 50px;
  }

  &--nojs {
    background-color: $base-white;
  }
}

.page-header__wrapper--nojs .page-header__toggle {
  display: none;
}

.page-header__wrapper--closed .page-header__logo {
  display: block;
  width: 100px;
  height: 19px;
  background-image: url("../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__wrapper--opened .page-header__logo,
.page-header__wrapper--nojs .page-header__logo {
  display: block;
  width: 100px;
  height: 19px;
  background-image: url("../img/logo-mobile-blue@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-header__wrapper--closed .page-header__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 25px;
  height: 3px;

  background-color: $base-white;
  box-shadow: 0 8px 0 0 $base-white;
}

.page-header__wrapper--opened .page-header__toggle {

  &::before,
  &::after {
    position: absolute;
    content: "";
    top:  12px;
    left: 0;
    width: 19px;
    height: 2px;
    background-color: $grey-close;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__title {
  position: absolute;
  left: 25px;
  bottom: 0;
}

.page-header__link {
  display: none;
}

.page-header__back-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    background-color: $secondary-blue;
    padding-top: 40px;

    &--opened {
      background-color: $base-white;
    }

    &--nojs {
      background-color: $base-white;
    }
  }

  .page-header__wrapper--closed .page-header__logo {
    display: block;
    width: 166px;
    height: 42px;
    background-image: url("../img/logo-tablet-white@1x.png");
    background-repeat: no-repeat;
    background-position: 0 5px;
  }

  .page-header__wrapper--opened .page-header__logo,
  .page-header__wrapper--nojs .page-header__logo {
    display: block;
    width: 166px;
    height: 42px;
    background-image: url("../img/logo-tablet-blue@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-header__toggle {
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page__header-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .page-header__title {
    left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $primary-blue;
  }

  .page-header__wrapper {
    background-color: $primary-blue;
    flex-wrap: nowrap;
    padding-top: 75px;
    padding-bottom: 10px;
  }

  .page-header__logo {
    margin-right: 150px;
    width: 200px;
    height: 52px;
    background-image: url("../img/logo-desktop-white@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__link {
    display: none;
  }

  .page-header__title {
    padding: 0;
  }
}
