.profile {
  color: $primary-grey;
  background-color: $light;
}

.profile__form {
  @include container;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile__avatar {
  img {
    display: block;
    border-radius: 50%;
  }
}

.profile__button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.profile__tags,
.profile__transport {
  width: 100%;
  position: relative;
  padding: 25px;
  border: 1px solid $grey3;
  border-radius: 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
}

.profile__item:last-child {
  margin-bottom: 0;
}

.profile__title {
  padding: 0 15px;
  position: absolute;
  top: -10px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  background-color: $light;
}

.profile__text {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .profile__form {
    @include extra-padding-tablet;
  }

  .profile__tags {
    padding: 32px;
  }

  .profile__transport {
    width: 45%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile__title {
    top: 75px;
  }
}

@media (min-width: $desktop-width) {
  .profile__transport {
    position: static;
    transform: translateX(0);
  }

  .profile__button {
    display: none;
  }

  .profile__avatar {
    position: absolute;
    top: -100px;
    right: 150px;
    border-radius: 0;
  }

  .profile__level {
    position: absolute;
    top: -100px;
    right: 250px;
  }

  .profile__form {
    flex-wrap: nowrap;
  }
}
