.profile {
  color: $primary-grey;
  background-color: $light;
}

.profile__form {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile__avatar {
  img {
    display: block;
    border-radius: 50%;
  }
}

.profile__button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.profile__list {
  @include list-reset;
}

.profile__item {
  position: relative;
  padding: 25px;
  border: 1px solid $grey3;
  border-radius: 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
}

.profile__item:last-child {
  margin-bottom: 0;
}

.profile__title {
  padding: 0 15px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $light;
}

.profile__text {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .profile__wrapper {
    position: relative;
  }

  .profile__level {
    position: absolute;
    top: -30px;
    right: 420px;
  }

  .profile__avatar {
    position: absolute;
    top: -70px;
    right: 150px;
  }
}
