.profile {
  color: $primary-grey;
  background-color: $light;
}

.profile__wrapper {
  padding: 60px 25px 30px;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    padding: 60px 75px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .profile__wrapper {
    position: relative;
    width: $container-width;
    margin: 0 auto;
  }

  .profile__level {
    position: absolute;
    top: -30px;
    right: 420px;
  }

  .profile__avatar {
    position: absolute;
    top: -150px;
    right: 150px;
  }
}
