.promo {
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 25% 100%;
}

.promo__wrapper {
  width: 270px;
  margin: 0 auto;
}

.promo__list {
  @include list-reset;
}

.promo__review {
  @include margin-padding-reset;
  background-color: $primary-blue;
  margin: 0 -25px;
}

.promo__author {
  font-style: normal;
}
