.promo {
  background-color: $primary-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -90px;
}

.promo__wrapper {
  @include container;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 260px;
    background-color: $secondary-blue;
  }
}

.promo__title {
  margin: 0 auto 12px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.promo__traveler {
  display: block;

  img {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
}

.promo__review {
  @include margin-padding-reset;
  background-color: $primary-blue;
  margin: -20px -25px 0 -25px;
  padding: 50px 50px 115px;
}

.promo__text {
  margin-bottom: 25px;
}

.promo__author {
  font-style: normal;
}

.promo__steps {
  margin-top: -80px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-color: $bg-tablet-blue;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -355px 235px;
  }

  .promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .promo__title {
    order: 0;
    padding: 0 10px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }

  .promo__traveler {
    margin-right: 0;
    margin-left: -50px;
    order: 2;

    img {
      width: 372px;
      height: auto;
    }
  }

  .promo__user-list {
    display: none;
  }

  .promo__review {
    order: 1;
    width: 260px;
    margin: 60px 0 0 35px;
    padding: 0;
    background-color: transparent;

    .promo__text {
      margin-bottom: 50px;
    }
  }

  .promo__steps {
    margin-top: -40px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-color: $primary-blue;
    border-radius: 0 0 25px 25px;
    background-image: none;
  }

  .promo__wrapper {
    padding-top: 0;
    padding-bottom: 345px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: -100px -170px;
  }

  .promo__title {
    width: 400px;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }

  .promo__traveler {
    order: 1;
    width: 192px;
    height: 255px;
  }

  .promo__review {
    @include margin-padding-reset;
    width: 285px;
  }
}
