.sign-up {
  position: relative;
  color: $base-white;
  margin-top: -20px;
  background-color: $secondary-blue;
  border-radius: 0 0 30px 30px;
  z-index: 3;
}

.sign-up__wrapper {
  @include container;
  padding: 93px 25px 28px;
}

.sign-up__title {
  text-align: center;
  margin-bottom: 19px;
}

.sign-up__text {
  text-align: center;
  padding: 0 35px;
  margin-bottom: 29px;
}

.sign-up__login {
  color: $light-gold;
  text-decoration: underline;
}

.sign-up__form {
  margin-bottom: 29px;
  display: flex;
}

.sign-up__email {
  border-radius: 10px;
  border: none;
  font-family: inherit;
  flex-grow: 1;

  @include placeholder {
    color: $primary-grey;
    opacity: 0.3;
    font-size: 18px;
    line-height: 18px;
    padding-left: 24px;
  }
}

.sign-up__button {
  display: block;
  padding: 0;
  width: 62px;
  height: 62px;
  margin-left: -13px;
}

.sign-up__questions {
  padding: 0 20px;
  margin-bottom: 17px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .sign-up {
    margin-top: -50px;
    border-radius: 0 0 60px 60px;
  }

  .sign-up__wrapper {
    padding: 127px 75px 59px;
  }

  .sign-up__title {
    margin-bottom: 57px;
  }

  .sign-up__text {
    padding: 0;
    margin-bottom: 63px;
  }

  .sign-up__form {
    margin-bottom: 60px;
  }

  .sign-up__email {
    border-radius: 15px;

    @include placeholder {
      font-size: 24px;
      line-height: 24px;
      padding-left: 35px;
    }
  }

  .sign-up__button {
    width: 82px;
    height: 81px;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .sign-up__questions {
    margin-bottom: 40px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .sign-up__wrapper {
    padding: 80px 130px 130px;
  }

  .sign-up__text {
    margin-left: 160px;
    margin-right: 160px;
  }

  .sign-up__button {
    width: 325px;
  }

  .sign-up__list {
    padding: 0 220px;
    display: flex;
    justify-content: center;

    li {
      margin-right: 110px;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
