.site-list {
  @include list-reset;
  background-color: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.site-list__item {
  a {
    color: $secondary-blue;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 630px;
    display: flex;
    margin: 0;
    padding: 0;
  }
}
