.social {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  &--footer {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--yellow {
    background-color: $light-gold;
  }
}

.social__link--yellow svg {
  fill: $blue;
}

.social__link--yellow:hover,
.social__link--yellow:focus {
  background-color: $gold;
}

.social__link--yellow:active svg {
  opacity: 0.3;
}

.social__link--menu:hover,
.social__link--menu:focus {
  background-color: $secondary-blue;
}

.social__link--menu:hover svg,
.social__link--menu:focus svg {
  fill: $base-white;
}

.social__link--menu:active svg {
  fill: rgba($base-white, 0.3);
}

.social__facebook {
  margin: 13px 17px 11px;
}

.social__vkontakte {
  margin: 18px 11px 15px;
}

.social__instagram {
  margin: 14px;
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: left;
  }
}
