.steps {
  color: $base-white;
  background-color: $primary-blue;
}

.steps__list {
  @include list-reset;
  background-color: $orange;
  border-radius: 10px;
}

.steps__item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $primary-blue;
}
