.transports {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.transports__icon {
  fill: rgba($blue, 0.15);

  &--active {
    fill: $blue;
  }
}

.transports__wrapper {
  display: flex;
}

.transports__transport-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: $base-white;
  border-radius: 50%;
}

.transports__transport-checkbox + .transports__transport-label {
  fill: rgba($blue, 0.15);
}

.transports__transport-checkbox + .transports__transport-label:hover,
.transports__transport-checkbox + .transports__transport-label:focus {
  fill: rgba($blue, 0.3);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.transports__transport-checkbox + .transports__transport-label:active {
  fill: rgba($blue, 0.1);
  background-color: $transport-active;
}

.transports__transport-checkbox:checked + .transports__transport-label {
  fill: $blue;
}

.transports__transport-checkbox:checked + .transports__transport-label:hover,
.transports__transport-checkbox:checked + .transports__transport-label:focus {
  fill: rgba($blue, 0.7);
}

.transports__transport-checkbox:checked + .transports__transport-label:active {
  fill: rgba($blue, 0.3);
}
