.traveler-list {
  @include list-reset;
  color: $primary-grey;
  text-align: center;
}

.traveler-list__item {
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $base-white;
}

.traveler-list__level {
  position: absolute;
  top: 16px;
  left: 16px;
}

.traveler-list__avatar {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.traveler-list__flag {
  margin-right: 10px;
}

.traveler-list__flag:last-child {
  margin-right: 0;
}

.traveler-list__item-wrapper {
  position: relative;
  padding: 25px 45px;
}

.traveler-list__flags {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}

.traveler-list__name {
  display: inline-block;
  position: relative;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $blue;
  padding-left: 17px;
  padding-right: 17px;
}

.traveler-list__name::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: $pink;
}

.traveler-list__name--active::before {
  background-color: $green-apple;
}

.traveler-list__tags {
  display: inline-block;
  margin-bottom: 18px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .traveler-list {
    display: flex;
    justify-content: space-between;
  }

  .traveler-list__item {
    width: 46%;
  }

  .traveler-list__level {
    top: 23px;
    left: 23px;
  }

  .traveler-list__item-wrapper {
    padding: 15px 30px 30px;
  }

  .traveler-list__point {
    left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .traveler-list__item {
    margin-right: 60px;
  }

  .traveler-list__item:last-child {
    margin-right: 0;
  }
}
