.travelers {
  position: relative;
  margin-top: -50px;
  color: $base-white;
  background-color: $secondary-blue;
  border-radius: 0 0 20px 20px;
  z-index: 5;
}

.travelers__wrapper {
  @include container;
  position: relative;
  padding: 120px 25px 110px;
  background: url("../img/smolov-back-desktop@1x.png") no-repeat right 25px top 85px,
    url("../img/rogovaya-back-desktop@1x.png") no-repeat left -10px top 390px;
  background-size: auto, 71px;

  &::before {
    width: 132px;
    height: 132px;

    content: "";
    position: absolute;
    top: 85px;
    left: -19px;

    background-color: $blue3;
    border-radius: 20px;
  }
}

.travelers__text-wrapper {
  padding: 0 25px;
}

.travelers__title {
  position: relative;
  margin-bottom: 20px;
}

.travelers__description {
  position: relative;
  margin-bottom: 25px;
}

.travelers__slogan {
  margin-bottom: 60px;
}

.traveler__link {
  width: 222px;
  position: absolute;
  bottom: 30px;
  left: 25px;
}

@media (min-width: $tablet-width) {
  .travelers__wrapper {
    padding: 160px 75px 250px;
    background-position: left 40px top 450px, right 75px top 110px;
    background-size: 143px, 285px;

    &::before {
      width: 213px;
      height: 213px;
      top: 110px;
      left: 40px;
    }
  }

  .travelers__text-wrapper {
    padding: 0;
    width: 68%;
  }

  .travelers__title {
    margin-bottom: 60px;
  }

  .travelers__description {
    margin-bottom: 45px;
  }

  .traveler__link {
    width: calc(100% - 150px);
    bottom: 90px;
    left: 75px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .travelers__wrapper {
    padding: 150px 130px 135px;
    display: flex;
    justify-content: space-between;
    background-position: left 440px top 150px, left 140px top 410px;
  }

  .travelers__text-wrapper {
    width: 425px;
  }

  .traveler__link {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 280px;
  }

  .travelers__list {
    margin: 0;
  }
}
