.user-list {
  @include list-reset;
  color: $secondary-blue;
  background-color: inherit;
}

.user-list__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $orange;
  border-radius: 50%;
}

.user-list__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $gold;
  border-radius: 50%;
}

.user-list__phone-icon {
  width: 18px;
  height: 18px;
  background-image: url("../img/topmenu-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-list__email-icon {
  width: 18px;
  height: 14px;
  background-image: url("../img/topmenu-mail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
