@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-padding-reset {
  margin: 0;
  padding: 0;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
