$base-white: #ffffff;
$primary-grey: #444444;
$secondary-grey: #e2e5f2;
$grey: #dfe3f0;
$grey2: #f3f4f8;
$primary-blue: #161c35;
$secondary-blue: #192144;
$blue: #1d2e5b;
$blue2: #121936;
$blue3: #141b3b;
$blue4: #132576;
$pink: #f97676;
$green-apple: #81e31e;
$bg-tablet-blue: #182044;
$light-grey: #d4d9eb;
$light-grey-2: #e1e3e9;
$light: #edeff6;
$orange: #ff8d30;
$orange2: #f26926;
$light-orange: #ffa530;
$gold: #ffbd30;
$light-gold: #ffd74b;
$linkdown: rgba(22, 28, 53, 0.3);
$iconhover: #5a4b34;
$transport-active: #e2e5f1;

$tablet-width: 768px;
$desktop-width: 1440px;
$container-width: 1320px;
$extra-offset: 50px;
