$base-white: #ffffff;
$primary-grey: #444444;
$primary-blue: #161c35;
$secondary-blue: #192144;
$blue: #1d2e5b;
$bg-tablet-blue: #182044;
$light-grey: #d4d9eb;
$light: #edeff6;
$orange: #ff8d30;
$light-orange: #ffa530;
$gold: #ffbd30;
$light-gold: #ffd74b;

$tablet-width: 768px;
$desktop-width: 1340px;
